.nav-list{
    
    z-index: 0;
}
.fake-nav{
   
    z-index: 0;
}

Button{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 40px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: Classy;
    font-weight: bold;
    /* transform: scale(2) !important; */
}
Button a:hover{
    transform: scale(2) !important;
    transition: all .4s ease-in-out; 
    color:aqua;
    display: inline-block;
    
}
a{
    text-decoration: none;
    color:black;
    transition: all .8s ease-in-out; 
}

.splash-def{
    text-align: center;
    margin-top:10%;
    /* left:43%; */
   position:relative;
   font-family: Classy;
   overflow: hidden;
   padding-bottom: 0px !important;
}
@font-face {
    font-family: Classy;
    src: url(../fonts/Classy.ttf);
}
.Kate{
    font-size: 144px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.splash-def{
    /* background-color: #dfe0d3; */
    background-color: white;
    overflow: hidden;
    z-index: 99;
    padding-bottom: 20% !important;
    margin-top: -5%;
    padding-top: 10%;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.GalleryS{
    text-align: center;
    margin-top: 13%;
    font-family: Quicksand;
}
.GalleryS h1{
    font-family: Classy;
    font-weight: 800;
    font-size: 24pt;
}
.finalIMG{
    margin-bottom: 5vw !important;
}

.GalleryS a:hover{
    color: rgb(26, 97, 90) !important;
}
@media only screen and (max-width: 600px) {
    .splash-def{
        /* background-color: #dfe0d3; */
        background-color: white;
        z-index: 101;
        position: absolute;
        padding-bottom:  10vh !important;
       
        /* padding-top:  10vh !important; */
        margin-top:-2vh !important;
        
        overflow-y: hidden;
    }
    }
    